<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

</head>
<body>
    <main>
        <div class="search-form-container">
            <section class="search-form">
                <form class="search-form__form" action="" method="get">
                    <label class="search-form__label visually-hidden" for="company-name">Поле ввода названия организации</label>
                    <input class="search-form__input" type="text" id="company-name" placeholder="Введите названия организации">
                    <button class="search-form__button" type="submit"></button>
                </form>
            </section>
            <section class="search-result">
                <ul class="search-result__list">
                    <li class="search-result__item">
                        <img class="search-result__img" src="./img/Avatar.svg" alt="Avatar">
                        <div class="search-result__description">
                            <h3 class="search-result__title">kts-school-frontend</h3>
                            <a class="search-result__title-link" href="">ktsstudio</a>
                            <div class="search-result__info">
                                <span class="search-result__star"> </span>
                                <span class="search-result__star-count">123</span>
                                <span class="search-result__update">Updated 21 Jul</span>
                            </div>
                        </div>
                    </li>
                    <li class="search-result__item">
                        <img class="search-result__img" src="./img/Avatar.svg" alt="Avatar">
                        <div class="search-result__description">
                            <h3 class="search-result__title">kts-school-frontend</h3>
                            <a class="search-result__title-link" href="">ktsstudio</a>
                            <div class="search-result__info">
                                <span class="search-result__star"> </span>
                                <span class="search-result__star-count">123</span>
                                <span class="search-result__update">Updated 21 Jul</span>
                            </div>
                        </div>
                    </li>
                    <li class="search-result__item">
                        <img class="search-result__img" src="./img/Avatar.svg" alt="Avatar">
                        <div class="search-result__description">
                            <h3 class="search-result__title">kts-school-frontend</h3>
                            <a class="search-result__title-link" href="">ktsstudio</a>
                            <div class="search-result__info">
                                <span class="search-result__star"> </span>
                                <span class="search-result__star-count">123</span>
                                <span class="search-result__update">Updated 21 Jul</span>
                            </div>
                        </div>
                    </li>
                    <li class="search-result__item">
                        <img class="search-result__img" src="./img/Avatar.svg" alt="Avatar">
                        <div class="search-result__description">
                            <h3 class="search-result__title">kts-school-frontend</h3>
                            <a class="search-result__title-link" href="">ktsstudio</a>
                            <div class="search-result__info">
                                <span class="search-result__star"> </span>
                                <span class="search-result__star-count">123</span>
                                <span class="search-result__update">Updated 21 Jul</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </main>
</body>
</html>